@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.cdnfonts.com/css/ds-digital');
@import url('https://fonts.cdnfonts.com/css/pirates');

*{
  font-family: Lato, Helvetica, sans-serif;
}

.rulla {
  width: 85px;
  height: 85px;
  background-image: url('rulla.png');
}

body {
  display: cover;
  background-image: linear-gradient(67.5deg, rgb(22, 79, 145) 0%, rgb(22, 79, 145) 30%,rgb(55, 93, 131) 30%, rgb(55, 93, 131) 
  43%,rgb(88, 107, 116) 43%, rgb(88, 107, 116) 46%,rgb(121, 121, 102) 46%, rgb(121, 121, 102) 47%,rgb(154, 135, 87) 47%, rgb(154, 135, 87) 
  59%,rgb(187, 149, 73) 59%, rgb(187, 149, 73) 95%,rgb(220, 163, 58) 95%, rgb(220, 163, 58) 100%),
  linear-gradient(90deg, rgb(22, 79, 145) 0%, rgb(22, 79, 145) 30%,rgb(55, 93, 131) 30%, rgb(55, 93, 131) 
  43%,rgb(88, 107, 116) 43%, rgb(88, 107, 116) 46%,rgb(121, 121, 102) 46%, rgb(121, 121, 102) 47%,rgb(154, 135, 87) 47%,
   rgb(154, 135, 87) 59%,rgb(187, 149, 73) 59%, rgb(187, 149, 73) 95%,rgb(220, 163, 58) 95%, rgb(220, 163, 58) 100%),
   linear-gradient(22.5deg, rgb(22, 79, 145) 0%, rgb(22, 79, 145) 30%,rgb(55, 93, 131) 30%, rgb(55, 93, 131) 43%,rgb(88, 107, 116) 43%,
    rgb(88, 107, 116) 46%,rgb(121, 121, 102) 46%, rgb(121, 121, 102) 47%,rgb(154, 135, 87) 47%, rgb(154, 135, 87) 59%,rgb(187, 149, 73) 59%,
     rgb(187, 149, 73) 95%,rgb(220, 163, 58) 95%, rgb(220, 163, 58) 100%),linear-gradient(157.5deg, rgb(22, 79, 145) 0%, rgb(22, 79, 145) 30%,
     rgb(55, 93, 131) 30%, rgb(55, 93, 131) 43%,rgb(88, 107, 116) 43%, rgb(88, 107, 116) 46%,rgb(121, 121, 102) 46%, rgb(121, 121, 102) 47%,
     rgb(154, 135, 87) 47%, rgb(154, 135, 87) 59%,rgb(187, 149, 73) 59%, rgb(187, 149, 73) 95%,rgb(220, 163, 58) 95%, rgb(220, 163, 58) 100%),
     linear-gradient(90deg, rgb(238, 101, 198),rgb(224, 55, 79)); background-blend-mode:overlay,overlay,overlay,overlay,normal;
  background-repeat: no-repeat;
}

#notification {
  font-family: 'DS-Digital', sans-serif;
  width: 370px;
  height: 40px;
  font-size: x-large;
}

#rahamaara{
  font-size: xx-large;
  font-weight: bold;
  font-family: 'DS-Digital', sans-serif; 
}

#panos {
  font-size: x-large;
  font-weight: bold;
  font-family: 'DS-Digital', sans-serif;
}

#alrtteksti {
  font-size: x-large;
  font-weight: bold;
  font-family: 'DS-Digital', sans-serif;
}

/*
p {
  margin-bottom: 8px;
  font-family: 'PiratesBlackbeard', sans-serif;
  text-align: center;
  font-size: 3.5em;
  font-weight: bolder;
  text-shadow: 1px 1px #000000;
  -webkit-text-stroke: 1px rgb(0, 0, 0);  
} */

#rulla1button, #rulla2button, #rulla3button, #rulla4button {
  width: 85px;
}


#rulla1button:hover, #rulla2button:hover, #rulla3button:hover, #rulla4button:hover, #play:hover {
  transform: scale(1.1);
  background-color: #ff1100; 
}

#pelaabutton, #panosButton {
  width: 150px;
  letter-spacing: 8px;
  font-size: large;
}

#panosButton:hover, #pelaabutton:hover {
  transform: scale(0.95);
}

#Vol {
  position: relative;
  
}
#Vol:hover {
  transform: scale(0.95);
}

